* {
    margin: 0;
    padding: 0;

}

:root {
    --title: #fffcf9;
    --subtitle: #b3b3b3;
    --bg-button: #e9e6e3;
    --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}


.container {

    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(67.08deg, #1E46A3 0%, #000000 48.94%, #C12A23 99.97%);

}

.title {
    width: 100%;
    height: 123px;
    text-align: center;
    padding-top: 126px;

}

.h1icon {
    width: 87.24px;
    height: 62.93px;
    left: 707.09px;
    top: 126px;
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #FFFCF9;

}



.filme {
    display: flex;
    width: 75%;
    height: 123px;
    text-align: left;
    padding-top: 156px;
    padding-left: 406px;



}

.poster-filme {
    display: none;
    width: 171px;
    height: 244px;
    margin-top: 22px;

}

.title-filme {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    padding: 15px;
    margin-left: 15px;

    color: #FFFCF9;
}

.desc-filme {
    max-width: 423px;
    max-height: 319px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 15px;
    margin-left: 15px;
    overflow-x: auto;

    color: #FFFCF9;
}

.btn-search {
    display: flex;
    background: #E9E6E3;
    margin-left: 48%;
    margin-top: 0%;
    align-items: center;
    width: 180.98px;
    height: 47px;
    border: 2px solid #1A1A1A;
    border-radius: 5px;


}

.buttonbox {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.iconbutton {
    margin-top: 8px;
    width: 35.56px;
    height: 25.29px;
}

.rbutton {
    margin-top: 11px;
    width: 98px;
    height: 17px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;

    color: #000000;
}

.box-info {
    display: flex;
    width: 100%;
    height: 42px;
    justify-content: center;
    padding-top: 26px;

}

.info {

    width: 381px;
    height: 42px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFCF9;
}

/* mobile */

@media (max-width: 900px) {
    .container {
        max-width: 900px;
        height: 1178px;
        background: linear-gradient(37.19deg, #1E46A3 3.83%, #000000 50.5%, #C12A23 85.86%);
    }

    .title {

        width: 1440px;
        display: block;
        left: 9px;
        top: 50px;
        text-align: left;
    }

    h1 {
        padding-left: 250px;
        max-width: 40%;
        line-height: 60px;
    }

    .h1icon {
        margin-left: 340px;

        
    }

    .filme {
        padding-top: 200px;
        padding-left: 200px;
        display: block;
        text-align: left;
        width: 900px;
        height: 662.62px;
    }

    .desc-filme {
        max-width: 423px;
        max-height: 319px;
        padding: 0px;
        margin-left: 0px;

    }

    .poster-filme {
        display: none;
        width: 171px;
        height: 244px;
        margin-top: 0;
        margin-left: 100px;

    }

    .btn-search {
        margin-left: 35%;
        margin-top: 0%;

    }

    /* 
    .box-info {
        display: flex;
        width: 100%;
        height: 42px;
        align-items: center;
        padding: auto;
        justify-content: center;
        padding-top: 26px;
    }
 */
}